<div class="jumbotron">
  <h1>Bestellübersicht</h1>

  <p>Hier sehen sie die aktuellen Bestellungen!</p>
</div>

<div class="row">
  <div class="col-lg-12 form-group">
    <label for="filter">Filter</label>
    <input type="text" name="filter" ng-model="orderFilter"/>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table">
      <thead>
      <tr>
        <th>Lieferdienst</th>
        <th>Besteller</th>
        <th>Datum</th>
        <th>Anzahl</th>
        <th>Preis</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="order in orders | filter: orderFilter">
        <td>{{order.deliveryServiceName}}</td>
        <td>{{order.orderer}}</td>
        <td>{{order.orderDate | date}}</td>
        <td>{{order.dishLines.length || 0}}</td>
        <td>{{order.dishLines | sumByKey:'price' | currency}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

